{
  "presets": [
    "@babel/preset-typescript",
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "transform-remove-console",
    [
      "import",
      {
        "libraryName": "antd",
        "style": "css"
      },
      "ant"
    ],
    [
      "import",
      {
        "libraryName": "antd-mobile",
        "style": "css"
      },
      "am"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lo"
    ]
  ]
}
